/* FONTS */
.big {
  font-size: 1.2rem;
}

.small {
  color: $textLight;
}

.bold {
  font-weight: 700;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  background-color: $card;
}

::-webkit-scrollbar-thumb {
  background-color: $textLight;
  border-radius: 4px;
}

/* BUTTON */
.button-group {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

button,
a.button {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  font-size: 1rem;
  padding: 8px;
  font-family: $font;
  border: none;
  cursor: pointer;

  &.flat {
    padding: 0;
  }

  &.ghost {
    color: $text;
  }

  &.primary {
    background-color: $primary;
    color: $card;
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 28px;
  aspect-ratio: 1;
  border-radius: 16px;
  cursor: pointer;
  @include trans;

  svg {
    font-size: .9rem;
  }

  &.text {
    background-color: $text;
    color: $card;

    &:hover {
      background-color: $primary;
    }
  }

  &.text-light {
    background-color: $textLight;
    color: $card;

    &:hover {
      background-color: $primary;
    }
  }
}

/* FORM */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inline-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-group {
  position: relative;
  opacity: .75;

  [type="text"],
  [type="time"],
  [type="email"],
  [type="password"],
  select,
  textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid $textLight;
    font-size: 1rem;
    font-family: $font;
    color: $textLight;

    &:focus-visible {
      outline: none;
      border-color: $primary;
    }

    &::placeholder {
      color: $textLight;
    }
  }

  &:focus-within {
    opacity: 1;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  /* Masquer l'icône de l'horloge pour Firefox */
  input[type="time"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="time"]::-moz-calendar-picker-indicator {
    display: none;
  }

  .validator {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: .9rem;

    &.danger {
      color: $danger;
    }
  }
}