/* FONTS */
.big {
  font-size: 1.2rem;
}

.bold {
  font-weight: 700;
}


/* BUTTON */
button,
a.button {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  font-size: 1rem;
  padding: 8px;
  font-family: $font;
  border: none;

  &.flat {
    padding: 0;
  }

  &.primary {
    background-color: $primary;
    color: $card;
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  aspect-ratio: 1;
  border-radius: 13px;
  cursor: pointer;

  svg {
    font-size: .9rem;
  }

  &.text {
    background-color: $text;
    color: $card;
  }
}