:root {
  font-family: $font;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color: $text;
  background-color: $bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root,
#app {
  height: 100%;
  overflow: hidden;
}

#app {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#app-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: 32px;
}

/* USER BAR */
#user-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $textLight;
  font-weight: 700;

  svg {
    font-size: 1.25rem;
  }

  button {
    color: $textLight;
    font-weight: 700;
  }
}

#user-bar-left {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* CALENDAR */
#calendar {
  width: 66.66%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  @include shadow;
}

.cell {
  background-color: $card;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date-select {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  height: $headerHeight;
  overflow: hidden;
}

#month-select {
  grid-column-start: 1;
  grid-column-end: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  border-top-left-radius: 8px;

  .button-icon {
    color: $textLight;

    &:hover {
      color: $card;
      background-color: $textLight;
    }
  }
}

#month-value {
  width: 100px;
  text-align: center;
}

#year-select {
  display: flex;
  justify-content: center;
  grid-column-start: 6;
  grid-column-end: 8;
  padding: 32px;
  border-top-right-radius: 8px;
}

/* GRID */
#grid-container {
  flex: 1;
  border-bottom-left-radius: $corner;
  border-bottom-right-radius: $corner;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#weekdays {
  grid-column-start: 1;
  grid-column-end: 8;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  padding: 16px;
  color: $textLight;
}

#grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;

  .cell {
    color: $textLight;
    cursor: pointer;
    position: relative;
    z-index: 0;

    &:hover,
    &:focus-visible {
      background-color: lighten($primary, 10%);
      outline-color: saturate($primary, 50%);
      outline-width: 2px;
      outline-style: solid;
      outline-offset: -2px;
      z-index: 1;

      .cell-value {
        outline-color: saturate($primary, 50%);
        outline-width: 2px;
        outline-style: solid;
      }
    }

    &.selected {
      background-color: $primary;
    }

    &.empty {
      cursor: initial;

      &:hover {
        background-color: $card;
        outline: none;
      }
    }

    &.selected {
      &:hover {
        background-color: $primary;
      }
    }

    &.today {
      .cell-value {
        background-color: $primary;
        color: $card;
        font-weight: 700;
      }

      &:hover,
      &.selected {
        .cell-value {
          background-color: $card;
          color: $primary;
        }
      }
    }
  }
}

.cell-value {
  width: 44px;
  aspect-ratio: 1;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $card;
}

.selected {
  background-color: $primary;
}

/* SIDEBAR */
#sidebar {
  width: 33.33%;
  border-radius: $corner;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#selected-date {
  padding: 32px;
  height: $headerHeight;
  justify-content: flex-start;

  span::first-letter {
    text-transform: capitalize;
  }
}

#add-event-button {
  width: 100%;
  padding: 16px 32px;
  justify-content: flex-start;
  color: $textLight;
  font-weight: 700;
  @include trans;

  svg {
    font-size: 1.25rem;
  }

  &:hover {
    color: $primary;
  }
}

/* ADD EVENT */
#add-event {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#add-event-form {
  background-color: $card;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 0;
  overflow: hidden;
  @include trans;

  .form-group,
  .button-group {
    opacity: 0;
    transition: opacity .5s ease-out;
  }

  &.open {
    overflow: initial;
    max-height: 2000px;
    padding-top: 32px;
    padding-bottom: 32px;

    .form-group,
    .button-group {
      opacity: 1;
    }

    &+#events-list {
      top: 0;
    }
  }
}

#event-name {
  font-weight: 700;
  font-size: 1.2rem;
}

#agenda-group {
  flex: 1;
}

/* EVENTS */
#events-list {
  background-color: $card;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  top: -2px;
  @include trans;

  .event-card {
    border-bottom: 2px solid $bg;
  }
}

.event-card {
  background-color: $card;
  padding: 16px 32px;
  display: flex;
  gap: 32px;
  position: relative;
}

.event-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-card-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.event-data {
  display: flex;
  justify-content: space-between;
  color: $textLight;
}

.event-note {
  color: $textLight;
  line-height: 1.5;
}

.event-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    width: 24px;
    aspect-ratio: 1;
  }
}

/* AUTH */
.auth-form {
  background-color: $card;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;

  .form-header {
    .small {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    .button {
      padding: 0;
      color: $textLight;
      text-decoration: underline;
    }
  }
}