$primary: #7E93E7;
$text: #5C6DB2;
$textLight: #7E89B4;
$bg: #E4E7F1;
$card: #ffffff;
$cardAlt: #e8e9f0;

$corner: 8px;
$font: "Be Vietnam Pro",
  sans-serif;

@mixin dev($color: red, $width: 1px) {
  border: $width solid $color;
}

@mixin shadow($blur: 50px) {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, .1);
}